.header {
  padding: 96px 0 77px;
  background: var(--background);
}

.header__title {
  /* h1 */
  /* font-family: Inter; */
  color: var(--color);
  font-size: 50px;
  font-weight: 500;
  line-height: 1.28;
  text-align: left;
}