<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <title>Header</title>
</head>
<body>
  
   <header class="header style_light">
      <div class="container">
        <div class="header__inner">
          <button class="header__burger-btn" id="burger-menu-open" type="button">
            <img src="../../assets/images/burger.svg" alt="Открыть мобильное меню">
          </button>
          <a class="header__logo" href="#">
            <img src="../../assets/images/logo-black.svg" alt="Логотип сайта. Переход на главную страницу.">
          </a>
          <!--переключатель светлой/темной тем-->
          <div class="header__theme-toggle">
            <label class="toggle">
              <img class="icon-sun" src="../../assets/images/sun.svg" alt="Иконка светлой темы">
              <input class="toggle__input" type="checkbox" name="name">
              <div class="toggle__body">
                <div class="toggle__control"></div>
              </div>
              <img class="icon-sun" src="../../assets/images/moon.svg" alt="Иконка темной темы">
            </label>
          </div> <!--переключатель светлой/темной тем-->
        </div> <!-- header__inner -->
      </div> <!-- container -->
    </header>

</body>
</html>