/* header */
/* MOBILE FIRST */

.header {
  box-sizing: border-box;
  padding: 24px 0;

  font-family: var(--font-family-1), sans-serif;
}

.header_dark {
  background: rgb(var(--background-light-grey));
}

.header_light {
  background: rgb(var(--background-light));
}



@media (min-width: 768px) {

  /* для страницы component-page.html */
  .header_component {
    height: 115px;
    padding: 24px 0 60px;
  }
}