<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <title>Header</title>
</head>
<body>
  
   <header class="header header_light">
      <div class="container">
        <div class="header__inner">
          <button class="header__burger-btn" id="burger-menu-open" type="button">
            <img src="../../assets/images/burger.svg" alt="Мобильное меню">
          </button>
          <a class="header__logo" href="#">
            <img src="../../assets/images/logo-black.svg" alt="Логотип сайта. Переход на главную страницу.">
          </a>
          <div class="header__theme-toggle">Переключатель</div>
        </div>

      </div> <!-- container -->
    </header>

</body>
</html>