<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <title>Вкладки</title>
</head>
<body>
  
  <article class="tabs">
    <input type="radio" name="tab" id="tab1" checked>
    <input type="radio" name="tab" id="tab2">
    <input type="radio" name="tab" id="tab3">
    <input type="radio" name="tab" id="tab4">

    <div class="tabs__label">
      <label for="tab1">Вкладка 1</label>
      <label for="tab2">Вкладка 2</label>
      <label for="tab3">Вкладка 3</label>
      <label for="tab4">Вкладка 4</label>
    </div>

    <section class="tabs__content tabs__tab1 tabs_padding-block_50">
      СЕКЦИЯ 1
    </section>

    <section class="tabs__content tabs__tab2 tabs_padding-block_50">
      СЕКЦИЯ 2
    </section>

    <section class="tabs__content tabs__tab3 tabs_padding-block_50">
      СЕКЦИЯ 3
    </section>

    <section class="tabs__content tabs__tab4 tabs_padding-block_50">
      СЕКЦИЯ 4
    </section>
  </article>

</body>
</html>