<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main-styles.css">
  <title>Вкладки</title>
</head>
<body>
  
  <article class="tabs">
    <input type="radio" name="tab" id="all-components" checked>
    <input type="radio" name="tab" id="elements">
    <input type="radio" name="tab" id="containers">
    <input type="radio" name="tab" id="templates">

    <div class="tabs__label">
      <label for="all-components">Все компоненты</label>
      <label for="elements">Элементы</label>
      <label for="containers">Контейнеры</label>
      <label for="templates">Шаблоны</label>
    </div>

    <section class="tabs__content tabs__content_all-components">
      СЕКЦИЯ 1
    </section>

    <section class="tabs__content tabs__content_elements">
      СЕКЦИЯ 2
    </section>

    <section class="tabs__content tabs__content_containers">
      СЕКЦИЯ 3
    </section>

    <section class="tabs__content tabs__content_templates">
      СЕКЦИЯ 4
    </section>

  </article>
</body>
</html>