/* Вкладки */
input[name="tab"] {
  position: absolute;
  opacity: 0;
  left: -100vw;
}

.tabs__label {
  display: flex;
  gap: 20px;

  color: rgb(var(--font-soft-grey));
  font-family: var(--font-family-1);
  font-size: clamp(0.6rem, 2.5vw, 1rem);
  font-weight: 400;
  line-height: 1.5;

  & label {
    box-sizing: border-box;
    position: relative;

    cursor: pointer;
    user-select: none;
  }

  & label::after {
    box-sizing: border-box;
    position: absolute;

    content: '';
    display: block;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;

    background: rgb(var(--background-soft-grey));
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }

  & label:hover::after {
    transform: scaleX(1);
  }
}

.tabs:has(#tab1:checked) .tabs__label label[for="tab1"],
.tabs:has(#tab2:checked) .tabs__label label[for="tab2"],
.tabs:has(#tab3:checked) .tabs__label label[for="tab3"],
.tabs:has(#tab4:checked) .tabs__label label[for="tab4"] {
  color: rgb(var(--font-dark-grey));
  cursor: default;
}


.tabs:has(#tab1:checked) .tabs__label label[for="tab1"]::after,
.tabs:has(#tab2:checked) .tabs__label label[for="tab2"]::after,
.tabs:has(#tab3:checked) .tabs__label label[for="tab3"]::after,
.tabs:has(#tab4:checked) .tabs__label label[for="tab4"]::after {
  transform: scaleX(1);
  background: rgb(var(--background-dark-grey));
}

.tabs__content {
  display: none;

  padding: 50px 0;
}

#tab1:checked~.tabs__tab1,
#tab2:checked~.tabs__tab2,
#tab3:checked~.tabs__tab3,
#tab4:checked~.tabs__tab4 {
  display: block;
}