.tooltip-container .tooltip__bubble_show {
  display: block;
}

.tooltip-container {
  transform: translateY(70px);
  height: 90px;
}

.avatar-container {
  box-sizing: border-box;
  width: 160px;
}

.index__modal {
  border: 1px solid rgb(var(--border-prim));
  border-radius: 8px;
}

.index__modal {

  & .index__modal-input-field,
  & .index__modal-btn {
    --font-size-max: 1rem;
    --font-size-min: 0.7rem;
  }
}

.card__grid-of-elements {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}