/* Мобильное меню */

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-120vw);
  z-index: 555;

  background: rgb(var(--background-light));
  transition: transform 0.2s linear;
}

.burger-menu[data-open] {
  transform: translateX(0);
}

.burger-menu__btn-close {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  cursor: pointer;

  padding: 3px;
  background: rgb(var(--border-grey));
  border: none;
  border-radius: 50%;
}

.burger-menu__hr {
  margin-bottom: 30px;
  border-color: var(--border-soft-grey);
}

.toggle-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  font-family: var(--font-family-1);
  color: rgb(var(--font-soft-dark));
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}