<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/styles.css">

  <script defer src="burger-menu.js" type="text/javascript"></script>
  <title>Мобильное меню</title>
</head>
<body>

  <!-- <button class="header__burger-btn" id="burger-menu-open" type="button"> -->
  <!--для удобства удален class="header__burger-btn"-->
  <button id="burger-menu-open" type="button">
    <svg class="header__burger-icon">
      <use xlink:href="../../assets/images/burger.svg#burger"></use>
    </svg>
  </button>

  <nav class="burger-menu">
    <div class="container">
      <!--в burger-menu дублируется header самой страницы-->
      <div class="header">
        <div class="header__inner">
          <button class="burger-menu__btn-close" id="burger-menu-close">
            <img src="../../assets/images/x.svg" alt="Закрыть мобильное меню">
          </button>
          <a class="header__logo" href="#">
            <svg class="header__logo-icon">
              <use xlink:href="../../assets/images/logo.svg#logo"></use>
            </svg>
          </a>
        </div>
      </div>
      <hr class="burger-menu__hr">
      <!--переключатель темы-->
      <div class="burger-menu__theme-area">
        <div class="burger-menu__theme-title">Темная тема</div>
        <div class="burger-menu__theme-toggle">
          <label class="toggle">
            <svg class="toggle__icon-sun">
              <use xlink:href="../../assets/images/sun.svg#sun"></use>
            </svg>
            <input class="toggle__input theme-toggle__input" type="checkbox" name="name">
            <div class="toggle__body">
              <div class="toggle__control"></div>
            </div>
            <svg class="toggle__icon-moon">
              <use xlink:href="../../assets/images/moon.svg#moon"></use>
            </svg>
          </label>
        </div>
      </div>
      <hr class="burger-menu__hr">

      <ul class="menu__list" role="menu">
        <li class="menu__item">
          <a href="pages/calendar/calendar-page.html">Календарь</a>
        </li>
        <li class="menu__item">
          <a href="pages/histogram/histogram-page.html">Гистограмма</a>
        </li>
        <li class="menu__item">
        <a href="#">Тултип</a>
        </li>
        <li class="menu__item">
          <a href="#">Модальное окно</a>
        </li>
        <li class="menu__item">
          <a href="#">Аватарка</a>
        </li>
        <li class="menu__item">
          <a href="#">Пользовательские элементы формы</a>
        </li>
        <li class="menu__item">
          <a href="#">Календарь</a>
        </li>
        <li class="menu__item">
          <a href="#">Аккордион</a>
        </li>
        <li class="menu__item">
          <a href="#">Скелетон</a>
        </li>
      </ul>

    </div> <!-- container -->
  </nav> <!-- burger-menu -->

</body>
</html>