/*Поле ввода*/

.input-field {
  --padding: 10px;
  --font-size-max: 1.25rem;
  --font-size-min: 0.8rem;
  --width: 350px;

  display: inline-flex;
  flex-direction: column;
  gap: 5px;

  position: relative;
  max-width: var(--width);
  width: 100%;

  font-family: var(--font-family-1);
  font-size: clamp(var(--font-size-min), 2vw, var(--font-size-max));
}

.input-field__input {
  box-sizing: border-box;

  padding: var(--padding) calc(var(--padding)*2.4) var(--padding);
  width: 100%;

  border: 1px solid rgb(var(--border-light));
  border-radius: calc(0.8*var(--padding));
  background: rgb(var(--background-light));

  color: rgb(var(--font-grey));
  line-height: 1.3;
}

.input-field__input:-webkit-autofill,
.input-field__input:-webkit-autofill:hover,
.input-field__input:-webkit-autofill:focus,
.input-field__input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(var(--font-grey)) !important;
}

.input-field:has(.input-field__placeholder:hover) .input-field__input:not(.input-field__input.txt_input_error),
.input-field__input:focus:not(.input-field__input.txt_input_error),
.input-field__input:hover:not(.input-field__input.txt_input_error) {
  outline: none;
  border-color: rgb(var(--primary));
  box-shadow: 1px 1px 1px 0px rgba(var(--primary-hover) / 0.1);
}

.txt_input_error {
  outline: none;
  border-color: rgb(var(--error));

  background-image: url('img/error-circle.svg');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: right calc(var(--padding)) center;
}

.input-field__input.txt_input_error:hover,
.input-field__input.txt_input_error:focus {
  outline: rgba(var(--error) / 0.2) solid 5px;
}

.txt_input_success {
  background-image: url('img/success.svg');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: right calc(var(--padding)) center;
}

/* .input-field__input:valid {
  background: red;
} */

.input-field__input,
.input-field__placeholder {
  font-weight: 400;
}

.input-field__placeholder {
  position: absolute;
  left: calc(var(--padding)*2.4);
  top: 50%;

  max-width: calc(100% - calc(6*var(--padding)));

  color: rgb(var(--font-light-grey));
  line-height: 1;

  transform: translateY(-50%);
  /* text-transform: uppercase; */

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-field__placeholder:hover,
.input-field__input:focus~.input-field__placeholder,
.input-field__input:hover~.input-field__placeholder,
.input-field__input:not(:placeholder-shown)~.input-field__placeholder {
  padding: 0 calc(var(--padding)/2);
  top: 0;

  background: #fff;

  color: rgb(var(--font-grey));
  font-size: max(10px, 0.6em);

  transition: top ease .3s, font-size ease .3s;
}

.input-field__input.txt_input_error~.input-field__placeholder {
  /* выше правило переопределило font-size в .input-field__placeholder */
  /* на 0.5em поэтому чтобы вернуться к родительскому font-size */
  /* нужно установить 2em */
  text-indent: calc(2em/(-0.29));
  color: transparent;
}

.input-field__input.txt_input_error~.input-field__placeholder::after {
  content: attr(data-err);
  color: rgb(var(--error));
}

.input-field__valid-msg {
  display: none;
  font-size: max(10px, 0.6em);
  color: rgb(var(--error));
}

.input-field__input.txt_input_error~.input-field__valid-msg {
  display: inline-block;
}