/*Поле ввода*/

.txt-filed {
  --padding: 10px;
  --width: 350px;

  display: inline-flex;
  flex-direction: column;
  gap: 5px;

  position: relative;
  max-width: var(--width);

  font-family: var(--font-family-1);
}

.txt-filed__input {
  box-sizing: border-box;

  padding: var(--padding) calc(var(--padding)*2.4) var(--padding);
  width: var(--width);

  border: 1px solid rgb(var(--border-light));
  border-radius: 8px;
  background: rgb(var(--background-light));

  color: rgb(var(--font-grey));
  line-height: 1.3;
}

.txt-filed:has(.txt-filed__placeholder:hover) .txt-filed__input:not(.txt-filed__input.txt_input_error),
.txt-filed__input:focus:not(.txt-filed__input.txt_input_error),
.txt-filed__input:hover:not(.txt-filed__input.txt_input_error) {
  outline: none;
  border-color: rgb(var(--primary));
  box-shadow: 1px 1px 1px 0px rgba(var(--primary-hover) / 0.1);
}

.txt_input_error {
  outline: none;
  border-color: rgb(var(--error));

  background-image: url('img/error-circle.svg');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: right calc(var(--padding)) center;
}

.txt-filed__input.txt_input_error:hover,
.txt-filed__input.txt_input_error:focus {
  outline: rgba(var(--error) / 0.2) solid 5px;
}

.txt_input_success {
  background-image: url('img/success.svg');
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: right calc(var(--padding)) center;
}

/* .txt-filed__input:valid {
  background: red;
} */

.txt-filed__input,
.txt-filed__placeholder {
  font-size: 1.25rem;
  font-weight: 400;
}

.txt-filed__placeholder {
  position: absolute;
  left: calc(var(--padding)*2.4);
  top: 50%;

  max-width: calc(100% - calc(6*var(--padding)));

  color: rgb(var(--font-light-grey));
  line-height: 1;

  transform: translateY(-50%);
  /* text-transform: uppercase; */

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.txt-filed__placeholder:hover,
.txt-filed__input:focus~.txt-filed__placeholder,
.txt-filed__input:hover~.txt-filed__placeholder,
.txt-filed__input:not(:placeholder-shown)~.txt-filed__placeholder {
  padding: 0 calc(var(--padding)/2);
  top: 0;

  background: #fff;

  color: rgb(var(--font-grey));
  font-size: 0.6rem;

  transition: top ease .3s, font-size ease .3s;
}

.txt-filed__input.txt_input_error~.txt-filed__placeholder {
  /* color: rgb(var(--error)); */
  text-indent: -66px;
  color: transparent;
}

.txt-filed__input.txt_input_error~.txt-filed__placeholder::after {
  content: attr(data-err);
  color: rgb(var(--error));
}

.txt-filed__valid-msg {
  display: none;
  font-size: 0.75rem;
  color: rgb(var(--error));
}

.txt-filed__input.txt_input_error~.txt-filed__valid-msg {
  display: inline-block;
}