<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../assets/css/main-styles.css">
  <title>Input</title>
</head>
<body>
  
  <div style="display: flex; flex-direction: column; gap: 50px; margin: 100px 100px 0;">

    <article class="input-wrapper">
      <label class="input-field">
        <input class="input-field__input" type="text" name="name" placeholder="&nbsp;">
        <span class="input-field__placeholder">Введите текст</span>
      </label>
      <span class="input-wrapper__valid-msg" aria-live="polite"></span>
    </article>

    <article class="input-wrapper">
      <label class="input-field">
        <input class="input-field__input input-field_success" type="text" name="name" placeholder="&nbsp;" value="Успешно">
        <span class="input-field__placeholder">Введите текст</span>
      </label>
      <span class="input-wrapper__valid-msg" aria-live="polite"></span>
    </article>

    <article class="input-wrapper">
      <label class="input-field">
       <input class="input-field__input input-field_error" type="text" name="name" placeholder="&nbsp;" value="Ошибка">
       <span class="input-field__placeholder" data-err="Внесите изменения">Введите текст</span>
      </label>
      <span class="input-wrapper__valid-msg" aria-live="polite">
        Не правильный текст Не правильный текст Не правильный текст Не правильный текст Не правильный текст Не правильный текст Не правильный текст
      </span>
    </article>

  </div>

  <span></span>
</body>
</html>