.checkbox {
  --font-size-min: 0.8rem;
  --font-size-max: 1rem;

  display: inline-flex;

  cursor: pointer;
}

.checkbox:has(.checkbox__input:disabled) {
  cursor: not-allowed;
}

.checkbox__input {
  position: absolute;
  left: -100vw;
  opacity: 0;
}

.checkbox__body {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox__control {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  border: 1px solid rgb(var(--border-soft-grey));
  border-radius: 4px;

  background: rgb(var(--background-light));
}

.checkbox__input:checked:not([disabled])~.checkbox__body .checkbox__control {
  background: rgb(var(--primary));
}

.checkbox__input:hover:not([disabled])~.checkbox__body .checkbox__control {
  border-width: 3px;
}

.checkbox__input:disabled~.checkbox__body .checkbox__control {
  background: rgb(var(--background-grey));
}

.checkbox__icon {
  width: 18px;
  height: 13px;
  color: rgb(var(--white));
}

.checkbox__input:disabled~.checkbox__body .checkbox__control .checkbox__icon {
  display: none;
}


.checkbox__title {
  color: rgb(var(--font-dark-grey));
  font-family: var(--font-family-1);
  font-size: clamp(var(--font-size-min), 2.5vw, var(--font-size-max));
  font-weight: 400;
  line-height: 1.5;

  user-select: none;
}

.checkbox__input:hover:not([disabled])~.checkbox__body .checkbox__title,
.checkbox__input:focus:not([disabled])~.checkbox__body .checkbox__title {
  font-weight: 600;
}

.checkbox__input:disabled~.checkbox__body .checkbox__title {
  color: rgb(var(--font-grey));
}


.checkbox__title::before {
  content: attr(data-off);
  color: rgb(var(--font-dark-grey));
  font-family: var(--font-family-1);
  font-size: clamp(var(--font-size-min), 2.5vw, var(--font-size-max));
  font-weight: 400;
  line-height: 1.5;
}

.checkbox__input:focus:not([disabled])~.checkbox__body .checkbox__title::before,
.checkbox__input:hover:not([disabled])~.checkbox__body .checkbox__title::before {
  font-weight: 600;
}

.checkbox__input:checked:not([disabled])~.checkbox__body .checkbox__title::before {
  content: attr(data-on);
}