/* component-page */

.components__body {
  & {
    display: grid;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    & {
      grid-template-columns: auto 1fr;
    }
  }
}

.components__sidebar {
  & {
    display: none;
  }

  @media screen and (min-width: 768px) {
    & {
      display: block;
    }
  }
}

.component-viewing {
  & {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    padding: 0 16px;
  }

  @media screen and (min-width:768px) {
    & {
      padding: 0 48px;
    }
  }
}

.component-viewing__title {
  & {
    padding: 32px 0;
    margin: 0;

    color: rgb(var(--font-dark-grey));
    font-family: var(--font-family-1);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.63;
  }

  @media screen and (min-width: 768px) {
    & {
      padding-bottom: 50px;
      ;
    }
  }
}

.component-viewing__container {
  & {
    padding-bottom: 50px;
  }

  @media screen and (min-width: 768px) {
    & {
      padding-bottom: 64px;
    }
  }
}

.component-viewing_padding {
  padding-left: 90px;
  padding-top: 30px;
}

.code-viewing {
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 20px 0;

  color: rgb(var(--font-dark));

  & pre {
    margin: 0;
  }
}