.btn {
  box-sizing: border-box;

  height: 48px;
  padding: 0 15px;

  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  outline: none;

  font-family: var(--font-family-2), sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn_primary {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--font-light);
}

.btn_primary:hover:not([disabled]) {
  border-color: var(--primary-hover);
  background: var(--primary-hover);
}

.btn_secondary {
  border-color: var(--secondary);
  background: var(--secondary);
  color: var(--font-light);
}

.btn_secondary:hover:not([disabled]) {
  border-color: var(--secondary-hover);
  background: var(--secondary-hover);
}

.btn_alternate {
  border-color: var(--border-prim);
  background: var(--background-light);
  color: var(--font-grey);
}

.btn_alternate:hover:not([disabled]) {
  border-color: var(--border-dark);
}