.btn {
  box-sizing: border-box;

  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  outline: none;

  font-family: var(--font-family-2), sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  cursor: pointer;
}

.btn_size {
  height: 48px;
  padding: 0 15px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn_primary {
  border-color: rgb(var(--primary));
  background: rgb(var(--primary));
  color: rgb(var(--font-light));
}

.btn_primary:hover:not([disabled]) {
  --primary: var(--primary-hover);
}

.btn_secondary {
  border-color: rgb(var(--secondary));
  background: rgb(var(--secondary));
  color: rgb(var(--font-light));
}

.btn_secondary:hover:not([disabled]) {
  --secondary: var(--secondary-hover);
}

.btn_alternate {
  border-color: rgb(var(--border-prim));
  background: rgb(var(--background-light));
  color: rgb(var(--font-grey));
}

.btn_alternate:hover:not([disabled]) {
  border-color: rgb(var(--border-dark));
}