.btn {
  --font-size-max: 1.25rem;
  --font-size-min: 0.8rem;

  box-sizing: border-box;
  padding: 10px 25px;

  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  outline: none;

  font-family: var(--font-family-2), sans-serif;
  font-size: clamp(var(--font-size-min), 2.5vw, var(--font-size-max));
  font-weight: 400;
  line-height: 1.2;

  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn_primary {
  border-color: rgb(var(--primary));
  background: rgb(var(--primary));
  color: rgb(var(--font-light));
}

.btn_primary:hover:not([disabled]) {
  border-color: rgb(var(--primary-hover));
  background: rgb(var(--primary-hover));
}

.btn_primary:active:not([disabled]) {
  background: rgba(var(--primary-hover) / 0.8);
}

.btn_secondary {
  border-color: rgb(var(--secondary));
  background: rgb(var(--secondary));
  color: rgb(var(--font-light));
}

.btn_secondary:hover:not([disabled]) {
  border-color: rgb(var(--secondary-hover));
  background: rgb(var(--secondary-hover));
}

.btn_secondary:active:not([disabled]) {
  background: rgba(var(--secondary-hover) / 0.8);
}

.btn_alternate {
  border-color: rgb(var(--border-soft-grey));
  background: rgb(var(--background-light));
  color: rgb(var(--font-dark-grey));
}

.btn_alternate:hover:not([disabled]) {
  border-color: rgb(var(--border-dark-grey));
}

.btn_alternate:active:not([disabled]) {
  background: rgb(var(--background-grey));
}

.btn_fix-size {
  padding: 20px;
  max-width: 350px;
  width: 100%;
}