<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main-styles.css">
  <title>Аватарка</title>
</head>
<body>

  <div class="avatar-wrapper">

    <article class="avatar">
      <div class="avatar__circle">
        <img src="images/640.jpg" class="avatar__img" alt="Изображение аватарки"
          srcset="images/160.jpg 1x,
                  images/320.jpg 2x,
                  images/480.jpg 3x,
                  images/640.jpg 4x"
          sizes="160px"
        >
      </div>
    </article>

  </div>
  
</body>
</html>