/* стили аватарки */

.avatar {
  position: relative;

  width: 100%;
  padding-bottom: 100%;
}

.avatar__circle {
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 3px solid rgb(var(--border-soft-grey));
  border-radius: 50%;
  overflow: hidden;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}