<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main-styles.css">
  <title>Radio button</title>
</head>
<body>

  <div style="display: block; margin: 30px auto 0; width: 300px;">

    <label class="radio">
      <input class="radio__input" name="group1" type="radio">
      <div class="radio__body">
        <div class="radio__control">
          <div class="radio__dot"></div>
        </div>
        <div class="radio__title">По уполчанию</div>
      </div>
    </label>
    
    <label class="radio">
      <input class="radio__input" name="group1" type="radio" checked>
      <div class="radio__body">
        <div class="radio__control">
          <div class="radio__dot"></div>
        </div>
        <div class="radio__title">Выбрано</div>
      </div>
    </label>
    
    <label class="radio">
      <input class="radio__input" name="group1" type="radio" disabled>
      <div class="radio__body">
        <div class="radio__control">
          <div class="radio__dot"></div>
        </div>
        <div class="radio__title">Заблокировано</div>
      </div>
    </label>

  </div>
  </div>


</body>
</html>