<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <title>Radio button</title>
</head>
<body>

  <div style="display: inline-flex; flex-direction: column; justify-content: center; gap: 15px; margin: 100px;">

    <label class="radio">
      <input class="radio__input" name="group1" type="radio">
      <div class="radio__body">
        <div class="radio__control">
          <div class="radio__dot"></div>
        </div>
        <div class="radio__title" data-on="Выбран" data-off="По умолчанию"></div>
      </div>
    </label>
    
    <label class="radio">
      <input class="radio__input" name="group1" type="radio" checked>
      <div class="radio__body">
        <div class="radio__control">
          <div class="radio__dot"></div>
        </div>
        <div class="radio__title" data-on="Выбран" data-off="По умолчанию"></div>
      </div>
    </label>
    
    <label class="radio">
      <input class="radio__input" name="group1" type="radio" disabled>
      <div class="radio__body">
        <div class="radio__control">
          <div class="radio__dot"></div>
        </div>
        <div class="radio__title">Заблокирован</div>
      </div>
    </label>

  </div>

</body>
</html>