:root {
  --white: rgb(255, 255, 255);
  --white-2: rgb(249, 250, 252);
  --black: rgb(33, 36, 41);
  --pink: rgb(247, 132, 173);
  --purple: rgb(112, 72, 232);
  --purple-2: rgb(80, 40, 198);
  --blue: rgb(55, 79, 199);
  --blue-2: rgb(35, 66, 192);
  --red: rgb(240, 61, 62);
  --grey-1: rgb(248, 249, 250);
  --grey-2: rgb(221, 226, 229);
  --grey-3: rgb(172, 181, 189);
  --grey-4: rgb(73, 80, 87);

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-hover: var(--blue-2);
  --secondary: var(--purple);
  --secondary-hover: var(--purple-2);
  --alternate: var(--white);
  --alternate-border: var(--grey-3);
  --alternate-border-hover: var(--black);

  /* background */
  --background-main: var(--white-2);
  --background: var(--white);

  /* font color */
  --color: var(--black);
  --color-content: var(var(--grey-4));
  --color-btn: var(--white);

  /* border color */
  --border-prim: var(--grey-3);
}

.accordion {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.accordion__details {
  margin-top: 8px;
  padding: 24px 32px;

  border: var(--alternate-border) solid 1px;
  border-radius: 8px;

  background: var(--white);
}

.accordion__summary {
  position: relative;
  color: var(--color);

  cursor: pointer;
}

.accordion__summary::marker {
  content: '';
}

/* .accordion__summary::before,
.accordion__summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.75rem;
  height: 0;
  border: 1px solid;

} */

/* .accordion__details[open] .accordion__summary::after {
  transform: rotate(90deg);
} */

.accordion__summary-marker {
  width: 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.accordion__details[open] .accordion__summary-marker {
  transform: rotate(180deg);
  transform-origin: 50% 25%;
}

.accordion__content {
  margin: 16px 0 0;

  color: var(--color-content);

  text-indent: 10px;
}