.skeleton {
  box-sizing: border-box;
  padding: 24px 32px 40px;
  border: 1px solid var(--border-prim);
  border-radius: 8px;

  background: var(--background);
}

.skeleton__line {
  height: 20px;

  margin: 8px 0;
}

.skeleton__logo {
  border-radius: 50%;
  width: 64px;
  height: 64px;

  background: var(--grey-2);
}

.skeleton__header {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  align-items: center;

  margin-bottom: 24px;
}

.skeleton__title {
  flex-grow: 1;
}

.line-short {
  width: 50%;
}

.line-middle {
  width: 75%;
}

.line-long {
  width: 100%;
}

.lg-type1 {
  background: linear-gradient(162.84deg,
      rgb(221, 226, 229) 10%,
      rgb(226, 230, 232) 40%,
      rgb(243, 245, 245) 57%,
      rgb(227, 231, 234) 77%,
      rgb(221, 226, 229) 100%);
  animation: shine 1.5s linear infinite;
}

.lg-type2 {
  background: linear-gradient(162.84deg,
      rgb(221, 226, 229) 7%,
      rgb(226, 230, 232) 35%,
      rgb(243, 245, 245) 60%,
      rgb(227, 231, 234) 80%,
      rgb(221, 226, 229) 100%);
  animation: shine 1.5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}