<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main-styles.css">
  <title>Скелетон</title>
</head>
<body style="margin: 50px 10px;">
  
  <div class="container">

    <div class="skeleton">
      <div class="skeleton__header">
        <div class="skeleton__logo"></div>
        <div class="skeleton__line skeleton__title1 line-short lg-type1"></div>
        <div class="skeleton__line skeleton__title2 line-middle lg-type1"></div>
      </div>
      <div class="skeleton__body">
        <div class="skeleton__line line-long lg-type2"></div>
        <div class="skeleton__line line-middle lg-type2"></div>
      </div>
    </div>
    
  </div>
</body>
</html>