.skeleton {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: min(700px, 90vw);

  padding: 32px 24px 40px;
  border: 1px solid rgb(var(--border-soft-grey));
  border-radius: 8px;

  background: rgb(var(--background-light));
}

.skeleton__line {
  height: 20px;
}

.skeleton__header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  row-gap: 8px;

  grid-template-areas: 'logo title1'
    'logo title2';
}

.skeleton__logo {
  grid-area: logo;

  border-radius: 50%;
  width: 64px;
  height: 64px;

  background: rgb(var(--grey-2));
}

.skeleton__title1 {
  grid-area: title1;
  align-self: self-end;
}

.skeleton__title2 {
  grid-area: title2;
  align-self: start;
}

.skeleton__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* модификаторы скелетона */

.line-short {
  width: 50%;
}

.line-middle {
  width: 75%;
}

.line-long {
  width: 100%;
}

.lg-type1 {
  background: linear-gradient(160deg,
      rgb(221, 226, 229) 10%,
      rgb(226, 230, 232) 40%,
      rgb(243, 245, 245) 57%,
      rgb(227, 231, 234) 77%,
      rgb(221, 226, 229) 100%);
  background-size: 200%;
  animation: shine 1.5s linear infinite;
}

.lg-type2 {
  background: linear-gradient(160deg,
      rgb(221, 226, 229) 7%,
      rgb(226, 230, 232) 35%,
      rgb(243, 245, 245) 60%,
      rgb(227, 231, 234) 80%,
      rgb(221, 226, 229) 100%);
  background-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}