<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main-styles.css">
  <title>Скелетон</title>
</head>
<body style="margin-top: 50px;">
  
  <div class="container">

    <div class="skeleton">
      <div class="skeleton__header">
        <div class="skeleton__logo"></div>
        <div class="skeleton__title">
          <div class="skeleton__title1 lg-type1"></div>
          <div class="skeleton__title2 lg-type1"></div>
        </div>
      </div>
      <div class="skeleton__body">
        <div class="skeleton__item1 lg-type2"></div>
        <div class="skeleton__item2 lg-type2"></div>
      </div>
    </div>
    
  </div>
</body>
</html>