/*разметка страницы*/
.page {
  min-height: 100vh;
}

/* для index.html */
.page-index {
  display: flex;
  flex-direction: column;
}

.page-index__main {
  flex-grow: 1;
}

/* для component-page.html */
.page-component {
  display: grid;
  grid-template-rows: auto 1fr auto;
}