/*разметка страницы*/
.page {
  min-height: 100vh;
}

/* для index.html */
.page_flex {
  display: flex;
  flex-direction: column;
}

.page__main_index {
  flex-grow: 1;
}


/* для component-page.html */
.page_grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}