<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <title>Tooltip</title>
</head>
<body style="margin-top: 200px; text-align: center;">
  
  <article class="tooltip">
    <div class="tooltip__triger">
      <svg class="tooltip__icon">
        <use xlink:href="icons/help.svg#tooltip-help"></use>
      </svg>
    </div>
    <div class="tooltip__bubble tooltip__bubble_top">
      <p class="tooltip__helper-text">
        Текст подсказки
      </p>
    </div>
  </article>

</body>
</html>