.main {
  box-sizing: border-box;
}

/* верстка по схеме MOBILE FIRST */

/* для index.html */
.main__title_index {
  color: rgb(var(--font-dark-grey));
  font-size: clamp(1rem, 4.2vw, 3.13rem);
  font-weight: 400;
  line-height: 1.35;

  @media (min-width: 768px) {
    & {
      color: rgb(var(--font-soft-dark));

      font-weight: 500;
      line-height: 1.28;
      text-align: left;
    }
  }
}


/* для страницы component-page.html */
.main__body {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.main__menu {
  display: none;
}

/* общие */

.main_dark {
  background: rgb(var(--background-light-grey));
}

.main_light {
  background: rgb(var(--background-light));
}



/* для страницы component-page.html */
.main__body {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.main__menu {
  display: block;
  width: clamp(229px, 30vw, 350px);
}