.main {
  box-sizing: border-box;
}

/* верстка по схеме MOBILE FIRST */

/* для index.html */
.main_index {
  padding: 65px 45px;
}

.main__cards {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(230px, auto));
  grid-gap: 16px;
}

/* для страницы component-page.html */
.main__body {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.main__menu {
  display: none;
}

/* общие */

.main_dark {
  background: rgb(var(--background-dark));
}

.main_light {
  background: rgb(var(--background-light));
}

@media (min-width: 768px) {

  /* для index.html */
  .main__cards {
    display: grid;
    /* 20px - это pading в container */
    grid-template-columns: repeat(2, calc(50% - 20px));
    grid-template-rows: repeat(auto-fill, minmax(350px, auto));
    gap: 30px;
    margin: 1.5rem 0;
  }

  /* для страницы component-page.html */
  .main__body {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
  }

  .main__menu {
    display: block;
    width: clamp(229px, 30vw, 350px);
  }
}

@media (min-width: 1024px) {
  .main__cards {
    display: grid;
    /* 20px - это pading в container */
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    grid-template-rows: repeat(auto-fill, minmax(350px, auto));
    gap: 30px;
    margin: 1.5rem 0;
  }
}