/* Переключатель */

.toggle {
  --font-size-min: 0.8rem;
  --font-size-max: 1rem;

  display: inline-flex;
  gap: 12px;
  cursor: pointer;
}

.toggle__icon-sun {
  width: 23px;
  height: 23px;

  color: rgb(var(--background-dark));
}

.toggle:has(.toggle__input:disabled) {
  cursor: not-allowed;
}

.toggle__input {
  position: absolute;
  left: -100vw;
  opacity: 0;
}

.toggle__body {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.toggle__control {
  box-sizing: border-box;

  width: 52px;
  height: 28px;

  border: 1px solid rgb(var(--border-soft-grey));
  border-radius: 16px;

  background: rgb(var(--background-light));

  transition: background 0.2s;
}

.toggle__input:checked:not([disabled])~.toggle__body .toggle__control {
  background: rgb(var(--primary));
  border-color: rgb(var(--primary));
}

.toggle__input:disabled~.toggle__body .toggle__control {
  background: rgb(var(--background-grey));
}

.toggle__control::before {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 2.2px;

  width: 23px;
  height: 23px;

  border-radius: 50%;
  background: rgb(var(--background-soft-grey));

  transition: transform 0.3s, background 0.5s;
}

.toggle__input:checked:not([disabled])~.toggle__body .toggle__control::before {
  transform: translateX(105%);
  background: rgb(var(--background-light));
}

.toggle__input:disabled~.toggle__body .toggle__control::before {
  background: rgb(var(--background-soft-grey));
}

.toggle__input:disabled~.toggle__body .toggle__title::before {
  color: rgb(var(--font-soft-grey));
}

.toggle__title::before {
  content: attr(data-off);
  color: rgb(var(--font-dark-grey));
  font-family: var(--font-family-1);
  font-size: clamp(var(--font-size-min), 2.5vw, var(--font-size-max));
  font-weight: 400;
  line-height: 1.5;
}

.toggle__input:focus:not([disabled])~.toggle__body .toggle__title::before,
.toggle__input:hover:not([disabled])~.toggle__body .toggle__title::before {
  font-weight: 600;
}

.toggle__input:checked:not([disabled])~.toggle__body .toggle__title::before {
  content: attr(data-on);
}