<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main-styles.css">
  <title>Toggle</title>
</head>
<body>

  <div style="display: block; margin: 30px auto 0; width: 300px;">

    <label class="toggle">
      <input class="toggle__input" type="checkbox" name="name" checked>
      <div class="toggle__body">
        <div class="toggle__control"></div>
        <span class="toggle__title" data-on="On" data-off="Off"></span>
      </div>
    </label>

  </div>

  <div style="display: block; margin: 30px auto 0; width: 300px;">

    <label class="toggle">
      <input class="toggle__input" type="checkbox" name="name" checked disabled>
      <div class="toggle__body">
        <div class="toggle__control"></div>
        <span class="toggle__title" data-on="On" data-off="Off"></span>
      </div>
    </label>

  </div>


</body>
</html>