@import url('normolize.css');
@import url('../../components/page/page.css');
@import url('../../components/main/main.css');
@import url('../../components/header/header.css');
@import url('../../components/footer/footer.css');
@import url('../../components/container/container.css');
@import url('../../components/button/button.css');
@import url('../../components/accordion/accordion.css');
@import url('../../components/card/card.css');
@import url('../../components/histogram/histogram.css');
@import url('../../components/skeleton/skeleton.css');

@import url('../fonts/fonts.css');

:root {
  --white: rgb(255, 255, 255);
  --white-2: rgb(249, 250, 252);
  --black: rgb(33, 36, 41);
  --pink: rgb(247, 132, 173);
  --purple: rgb(112, 72, 232);
  --purple-2: rgb(80, 40, 198);
  --blue: rgb(66, 99, 235);
  --blue-2: rgb(35, 66, 192);
  --red: rgb(240, 61, 62);
  --grey-1: rgb(248, 249, 250);
  --grey-2: rgb(221, 226, 229);
  --grey-3: rgb(172, 181, 189);
  --grey-4: rgb(73, 80, 87);

  --error: var(--red);
  --success: var(--blue);

  /* для компонентов */
  --primary: var(--blue);
  --primary-hover: var(--blue-2);
  --secondary: var(--purple);
  --secondary-hover: var(--purple-2);
  --alternate: var(--white);
  --alternate-border: var(--grey-3);
  --alternate-border-hover: var(--black);

  /* background для секций сайта */
  --background-main: var(--white-2);
  --background: var(--white);

  /* font color */
  --color: var(--black);
  --color-content: var(--grey-4);
  --color-btn: var(--white);

  /* border color */
  --border-prim: var(--grey-3);
}

/* html, body {
  height: 100%;
} */