@import url('normolize.css');
@import url('../../components/page/page.css');
@import url('../../components/main/main.css');
@import url('../../components/header/header.css');
@import url('../../components/footer/footer.css');
@import url('../../components/container/container.css');
@import url('../../components/card/card.css');

@import url('../fonts/fonts.css');

:root {
  --white: rgb(255, 255, 255);
  --white-2: rgb(249, 250, 252);
  --black: rgb(33, 36, 41);
  --pink: rgb(247, 132, 173);
  --purple: rgb(112, 72, 232);
  --blue: rgb(55, 79, 199);
  --red: rgb(240, 61, 62);
  --grey-1: rgb(249, 250, 251);
  --grey-2: rgb(221, 226, 229);
  --grey-3: rgb(172, 181, 189);
  --grey-4: rgb(73, 80, 87);

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);

  /* background */
  --background-main: var(--white-2);
  --background-other: var(--white);

  /* font color */
  --color: var(--black);
}

/* html, body {
  height: 100%;
} */