@import url('normolize.css');

@import url('../../components/container/container.css');
@import url('../../components/button/button.css');
@import url('../../components/accordion/accordion.css');
@import url('../../components/card/card.css');
@import url('../../components/histogram/histogram.css');
@import url('../../components/skeleton/skeleton.css');
@import url('../../components/calendar/calendar.css');
@import url('../../components/tooltip/tooltip.css');
@import url('../../components/modal/modal.css');
@import url('../../components/checkbox/checkbox.css');
@import url('../../components/radiobutton/radiobutton.css');
@import url('../../components/toggle/toggle.css');
@import url('../../components/input/input.css');
@import url('../../components/avatar/avatar.css');
@import url('../../components/userdata-form/userdata-form.css');
@import url('../../components/tabs/tabs.css');


@import url('../../components/page/page.css');
@import url('../../components/main/main.css');
@import url('../../components/header/header.css');
@import url('../../components/nav/nav.css');
@import url('../../components/footer/footer.css');

@import url('../../index.css');

@import url('../fonts/fonts.css');



:root {
  --white: 255 255 255;
  --white-2: 249 250 252;
  --black: 0 0 0;
  --soft-black: 33 36 41;
  --pink: 247 132 173;
  --purple: 112 72 232;
  --purple-2: 80 40 198;
  --blue: 66 99 235;
  --blue-2: 35 66 192;
  --red: 240 61 62;
  --grey-1: 248 249 250;
  --grey-2: 221 226 229;
  --grey-3: 172 181 189;
  --grey-4: 73 80 87;

  --error: var(--red);
  --success: var(--blue);

  /* для компонентов */
  --primary: var(--blue);
  --primary-hover: var(--blue-2);
  --secondary: var(--purple);
  --secondary-hover: var(--purple-2);

  /* background */
  --background-dark: var(--black);
  --background-soft-dark: var(--soft-black);
  --background-dark-grey: var(--grey-4);
  --background-soft-grey: var(--grey-3);
  --background-grey: var(--grey-2);
  --background-light-grey: var(--grey-1);
  --background-light: var(--white);

  /* font-family */
  --font-family-1: 'Inter';
  --font-family-2: 'Roboto';

  /* font color */
  --font-dark: var(--black);
  --font-soft-dark: var(--soft-black);
  --font-dark-grey: var(--grey-4);
  --font-soft-grey: var(--grey-3);
  --font-grey: var(--grey-2);
  --font-light-grey: var(--grey-1);
  --font-light: var(--white);

  /* border color */
  --border-dark: var(--black);
  --border-soft-dark: var(--soft-black);
  --border-dark-grey: var(--grey-4);
  --border-soft-grey: var(--grey-3);
  --border-grey: var(--grey-2);
  --border-light-grey: var(--grey-1);
}

/* html, body {
  height: 100%;
} */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}