@import url('normolize.css');
@import url('variables.css');

@import url('../fonts/fonts.css');

@import url('../../components/container/container.css');
@import url('../../components/button/button.css');
@import url('../../components/accordion/accordion.css');
@import url('../../components/card/card.css');
@import url('../../components/histogram/histogram.css');
@import url('../../components/skeleton/skeleton.css');
@import url('../../components/calendar/calendar.css');
@import url('../../components/tooltip/tooltip.css');
@import url('../../components/modal/modal.css');
@import url('../../components/checkbox/checkbox.css');
@import url('../../components/radiobutton/radiobutton.css');
@import url('../../components/toggle/toggle.css');
@import url('../../components/input/input.css');
@import url('../../components/avatar/avatar.css');
@import url('../../components/userdata-form/userdata-form.css');
@import url('../../components/tabs/tabs.css');
@import url('../../components/menu/menu.css');
@import url('../../components/burger-menu/burger-menu.css');


@import url('../../components/page/page.css');
@import url('../../components/header/header.css');
@import url('../../components/nav/nav.css');
@import url('../../components/footer/footer.css');

@import url('../../index.css');
@import url('../../pages/component-page/component-page.css');

html,
body {
  /* резервирование места для скрола */
  scrollbar-gutter: stable;
}

html.dark-theme {
  --background-dark: var(--grey-3);
  --background-soft-dark: var(--grey-2);
  --background-dark-grey: var(--grey-1);
  --background-light-grey: var(--grey-4);
  --background-light: var(--soft-black);

  --font-dark: var(--grey-3);
  --font-soft-dark: var(--grey-2);
  --font-soft: var(--grey-3);
  --font-dark-grey: var(--white);
  --font-light: var(--black);
}

/* класс добавляется к body для блокировки скрола: 
   -в модальном окне,
   -в бургер меню. */
.scroll-lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.style_dark {
  background: rgb(var(--background-light-grey));
}

.style_light {
  background: rgb(var(--background-light));
}