.footer {
  box-sizing: border-box;
  font-family: var(--font-family-1);
  text-align: center;
}

/*//// МОДИФИКАТОРЫ ////*/

/* для страницы index.html */
.footer_index {
  padding: 70px 50px 50px;

  color: rgb(var(--font-soft-dark));
}

.footer__title_index {
  margin: 0;

  font-size: clamp(1rem, 4.2vw, 2.4rem);
  ;
  font-weight: 500;
  line-height: 1.26;
}

.footer__description_index {
  /* max-width: 640px; */
  width: 100%;
  margin: clamp(0.6rem, 2.5vw, 2rem) auto 0;

  font-size: clamp(0.8rem, 2.5vw, 1rem);
  font-weight: 400;
  line-height: 1.5;
}

/* для страницы component-page.html */
.footer__title_component {
  margin: 0;
  padding: 56px;

  color: rgb(var(--font-soft-dark-grey));
  font-size: clamp(0.6rem, 2.5vw, 0.75rem);
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

/* общие */

.footer_light {
  background: rgb(var(--background-light));
}

.footer_dark {
  background: rgb(var(--background-light-grey));
}