.accordion {
  box-sizing: border-box;

  font-family: var(--font-family-1), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.accordion__details {
  margin-top: 8px;
  padding: 24px 32px;

  border: rgb(var(--border-prim)) solid 1px;
  border-radius: 8px;

  background: rgb(var(--background-light));
}

.accordion__summary {
  position: relative;
  color: rgb(var(--font-soft));

  cursor: pointer;
}

.accordion__summary::marker {
  content: '';
}

/* .accordion__summary::before,
.accordion__summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.75rem;
  height: 0;
  border: 1px solid;

} */

/* .accordion__details[open] .accordion__summary::after {
  transform: rotate(90deg);
} */

.accordion__summary-marker {
  width: 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.svg-icon {
  width: 24px;
  height: 24px;
  color: red;
}

.accordion__details[open] .accordion__summary-marker {
  transform: rotate(180deg);
  transform-origin: 50% 25%;
}

.accordion__content {
  margin: 16px 0 0;

  color: rgb(var(--font-grey));

  text-indent: 10px;
}