.calendar {
  box-sizing: border-box;

  max-width: 200px;
  min-width: 160px;
  width: 100%;
  padding: 1rem;

  border: 1px solid rgb(var(--border-prim));
  border-radius: 8px;

  background: rgb(var(--background-light));

  font-family: var(--font-family-1);
}

.calendar__title {
  margin: 0 0 26px;
  color: rgb(var(--font-soft));
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.calendar__wrapper {

  position: relative;

  padding-bottom: 100%;
}

.calendar__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: stretch;
}

.calendar__item {
  display: grid;
  place-items: center;

  color: rgb(var(--font-soft));
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

/* модификаторы */

.calendar__item_grey {
  color: rgb(var(--font-soft-grey));
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.calendar__item_active {
  background-color: rgb(var(--primary));
  color: rgb(var(--font-light));
}

.calendar__item_active-range {
  background-color: rgba(var(--primary) / 0.2);
}