<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main-styles.css">
  <title>Календарь</title>
</head>
<body style="margin: 100px;">
  
  <article class="calendar">
    <h2 class="calendar__title">Август 2024 г</h2>
    <div class="calendar__wrapper">
      <div class="calendar__content">
        <span class="calendar__item calendar__item_grey">Пн</span>
        <span class="calendar__item calendar__item_grey">Вт</span>
        <span class="calendar__item calendar__item_grey">Ср</span>
        <span class="calendar__item calendar__item_grey">Чт</span>
        <span class="calendar__item calendar__item_grey">Пт</span>
        <span class="calendar__item calendar__item_grey">Сб</span>
        <span class="calendar__item calendar__item_grey">Вс</span>
        <span class="calendar__item"></span>
        <span class="calendar__item"></span>
        <span class="calendar__item"></span>
        <span class="calendar__item"></span>
        <span class="calendar__item"></span>
        <span class="calendar__item">1</span>
        <span class="calendar__item">2</span>
        <span class="calendar__item">3</span>
        <span class="calendar__item calendar__item_active">4</span>
        <span class="calendar__item calendar__item_active-range">5</span>
        <span class="calendar__item calendar__item_active-range">6</span>
        <span class="calendar__item calendar__item_active-range">7</span>
        <span class="calendar__item calendar__item_active">8</span>
        <span class="calendar__item">9</span>
        <span class="calendar__item">10</span>
        <span class="calendar__item">11</span>
        <span class="calendar__item">12</span>
        <span class="calendar__item">13</span>
        <span class="calendar__item">14</span>
        <span class="calendar__item">15</span>
        <span class="calendar__item">16</span>
        <span class="calendar__item">17</span>
        <span class="calendar__item">18</span>
        <span class="calendar__item">19</span>
        <span class="calendar__item">20</span>
        <span class="calendar__item">21</span>
        <span class="calendar__item">22</span>
        <span class="calendar__item">23</span>
        <span class="calendar__item">24</span>
        <span class="calendar__item">25</span>
        <span class="calendar__item">26</span>
        <span class="calendar__item">27</span>
        <span class="calendar__item">28</span>
        <span class="calendar__item">29</span>
        <span class="calendar__item">30</span>
        <span class="calendar__item">31</span>
      </div>
    </div>
  </article>

</body>
</html>