<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/main-styles.css">

  <script defer src="modal.js"></script>

  <title>Модальное окно</title>
</head>
<body>

  <button class="modalOpener" type="button" style="position: fixed;">Открыть</button>

  <dialog class="modal" aria-labelledby="Модальное окно" id="myDialog">
    <div class="modal__wrapper">
      
      <form action="" class="userdata-form" id="userdata-form">

        <label class="input-field userdata-form__input-field">
          <input class="input-field__input" type="text" name="user-name" placeholder="&nbsp;">
          <span class="input-field__placeholder">Укажите имя</span>
          <span class="input-field__valid-msg" aria-live="polite"></span>
        </label>

        <label class="input-field userdata-form__input-field">
          <input class="input-field__input" type="email" name="user-email" placeholder="&nbsp;">
          <span class="input-field__placeholder">Укажите email</span>
          <span class="input-field__valid-msg" aria-live="polite"></span>
        </label>

        <button class="btn userdata-form__btn btn_primary">Отправить</button>

      </form>
      
      <button class="modal__btn-close" type="button" onclick="window.myDialog.close()">&times;</button>

    </div>
  </dialog>

</body>
</html>