html,
body {
  /* резервирование места для скрола */
  scrollbar-gutter: stable;
}

.modal {
  box-sizing: border-box;

  width: 100%;
  max-width: 500px;
  padding: 0;

  border: none;
  border-radius: 8px;

  background-color: rgb(var(--background-light));
}

.modal_preview {
  border: 1px solid rgb(var(--border-prim));
  border-radius: 8px;
}

.modal::backdrop {
  background: rgba(var(--primary) / 0.5);
  backdrop-filter: blur(2px);
}

.modal__wrapper {
  box-sizing: inherit;
  width: 100%;
  position: relative;
  padding: 2rem;
}

.modal__btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;

  width: 30px;
  height: 30px;
  padding: 0;

  font-size: 2rem;
  line-height: 1;

  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.3;


}

.modal__btn-close:hover {
  opacity: 1;
}

.scroll-lock {
  overflow: hidden;
}

.backdrop {
  padding: 20px;
  background: rgb(196, 196, 196);
  opacity: 0.5;
  ;
}