.modal *,
.modal *::before,
.modal *::after {
  box-sizing: border-box;
  margin: 0;
}


html,
body {
  /* резервирование места для скрола */
  scrollbar-gutter: stable;
}

.modal {
  width: 100%;
  max-width: 500px;
  padding: 0;

  border: none;
  border-radius: 8px;

  background-color: rgb(var(--background-light));
}

.modal_preview {
  border: 1px solid rgb(var(--border-prim));
  border-radius: 8px;
}

.modal::backdrop {
  background: rgba(var(--primary) / 0.5);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}

.modal__wrapper {
  width: 100%;
  position: relative;
  padding: 1rem;
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  padding: 0;

  font-size: 2rem;
  line-height: 1;

  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.3;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.modal__btn-close:hover {
  opacity: 1;
}

.scroll-lock {
  overflow: hidden;
}