/* component-page */

.components__body {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.components__menu {
  display: block;
  width: clamp(229px, 30vw, 350px);
}

/* .main__menu {
  display: none;
} */