<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <title>Переключатель темы</title>
</head>
<body>

  <div style="display: flex; gap: 12px; align-items: center; margin: 100px;">

    
    <label class="toggle">
      <svg class="toggle__icon-sun">
        <use xlink:href="../../assets/images/sun.svg#sun"></use>
      </svg>
      <input class="toggle__input theme-toggle__input" type="checkbox" name="name">
      <div class="toggle__body">
        <div class="toggle__control"></div>
      </div>
      <img class="icon-sun" src="../../assets/images/moon.svg" alt="Иконка темной темы">
    </label>
    

  </div>


</body>
</html>