<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/styles.css">
  <title>Меню</title>
</head>
<body>

  <ul class="menu__list" role="menu">
    <li class="menu__item">
      <a href="#">Календарь</a>
    </li>
    <li class="menu__item">
      <a href="#">Гистограмма</a>
    </li>
    <li class="menu__item">
    <a href="#">Тултип</a>
    </li>
    <li class="menu__item">
      <a href="#">Модальное окно</a>
    </li>
    <li class="menu__item">
      <a href="#">Аватарка</a>
    </li>
    <li class="menu__item">
      <a href="#">Пользовательские элементы формы</a>
    </li>
    <li class="menu__item">
      <a href="#">Календарь</a>
    </li>
    <li class="menu__item">
      <a href="#">Аккордион</a>
    </li>
    <li class="menu__item">
      <a href="#">Скелетон</a>
    </li>
  </ul>

</body>
</html>