.histogram {
  box-sizing: border-box;

  padding: 16px 24px 24px;
  width: 100%;
  border: 1px solid rgb(var(--border-soft-grey));
  border-radius: 8px;
  overflow: hidden;

  background: rgb(var(--background-light));

  font-family: var(--font-family-1), sans-serif;
}

.histogram__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.histogram__title {
  color: rgb(var(--font-soft-dark));
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;

  opacity: 0.8;
}

.histogram__view-details {
  margin-left: 5px;

  flex-shrink: 0;

  color: rgb(var(--primary));
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}

.histogram__view-details:hover {
  --primary: var(--primary-hover);
}

.histogram__total {
  margin: 6px 0 39px;

  color: rgb(var(--font-soft-dark));
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.histogram__items {
  display: flex;
  align-items: flex-end;
  height: 50px;
  gap: 1px;

  animation: appear-items 0.8s ease-out;
}

@keyframes appear-items {
  0% {
    transform: scaleY(0);
    transform-origin: bottom center;
  }

  50% {
    transform: scaleY(1.1);
    transform-origin: bottom center;
  }

  100% {
    transform: scaleY(1);
    transform-origin: bottom center;
  }
}

.histogram__item {
  width: calc(100% / 30);
  background-color: rgb(var(--primary));
}