.histogram {
  box-sizing: border-box;
  padding: 16px 24px 24px;
  border: 1px solid var(--border-prim);
  border-radius: 8px;
  overflow: hidden;

  background: var(--background);

  font-family: Inter;
}

.histogram__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.histogram__title {
  margin: 0;

  color: var(--color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  opacity: 0.8;
}

.histogram__view-details {
  color: var(--primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  cursor: pointer;
}

.histogram__view-details:hover {
  color: var(--primary-hover);
}

.histogram__total {
  margin: 6px 0 39px;

  color: var(--color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.histogram__items {
  display: flex;
  align-items: flex-end;
  height: 50px;
  gap: 1px;

  animation: appear-items 0.8s ease-out;
}

@keyframes appear-items {
  0% {
    transform: scaleY(0);
    transform-origin: bottom center;
  }

  50% {
    transform: scaleY(1.1);
    transform-origin: bottom center;
  }

  100% {
    transform: scaleY(1);
    transform-origin: bottom center;
  }
}

.histogram__item {
  width: calc(100% / 30);
  background-color: var(--primary);
}